@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body {
    position: relative;
    height: 500vh;
    overflow-x: hidden;
}

/*-----MOBILE-------*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: white;
}

li {
    list-style: none;
    margin: 10%;
    cursor: pointer;
    position: relative;
}

#xHeader {
    width: 7%;
    cursor: pointer;
    position: absolute;
    right: 10%;
}

#headerLinks {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: white;
    z-index: 2;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    padding: 5%;
    border: 0.5px solid rgb(174, 174, 174);
    border-top: none;
    border-bottom: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 40%;
    transition: all 0.5s ease-in;
    transform: translateX(500px);
}

.imgHeader {
    display: flex;
    padding: 3%;
    cursor: pointer;
}

.imgHeader svg {
    width: 10%;
}

#logo {
    width: 10vw;
}

#options {
    width: 4vw;
    cursor: pointer;
}

/*-----------SCRIPT------------*/

@keyframes aparecer {

    to {
        transform: translateX(5px);
    }

}

@keyframes sumir {

    to {
        transform: translateX(5px);
    }

}